/*.twt{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7.5%;
}
.waze{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7.5%;
    padding-bottom: 20%;
}*/
.colum {
    float: left;
    width: 40%;
    padding: 5px;
    height: auto;
    margin-top: 5%;
    margin-bottom: 10%;
}
  
 
.row {
    content: "";
    clear: both;
    display: flex;
    justify-content: center; 
}
.list-services{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    list-style:none;
    font-size: 400%;
    
    padding-top: 10%;
}
.list-services li{
    padding-top: 0.5%;
    text-align: justify;
    
}
.list-services i{
    color: limegreen;

}
.container{
    display: flex;
    padding-bottom: -10%;

}
p{
    padding-top: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    list-style:none;
    font-size: 200%;
    text-align: center;
}
.imagen{
    width: 20%;
    display: flex;
    padding: 10%;
    padding-left: 30%;
}