body{
    margin: 0;
}

.site-header{
    background-color:rgb(71, 69, 69);
    position: relative;
    
}

.block{
    background-color:rgb(71, 69, 69);
    position: fixed;
    width: 100%;
    
}

h1 {
    color: rgb(28, 3, 245);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    /*text-shadow: 0px 1px 1.5px rgb(0, 0, 0);*/
}

ul{
    justify-content: center;
    display: flex;
}

ul a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(28, 3, 245);
    font-size: 20px;
    margin: 0.5em 0;
    padding: 0.3em;
    
}

/*a:visited{
    color: rgb(14, 4, 107);
}*/
