body{
    margin: 0;
}

* {
    padding: 0;
    margin: 0;
  }

.block{
    /*z-index: 100;
    
    display: grid;
    background-color:rgb(71, 69, 69);
    position:fixed;
    width: 100%; */
    width: 100%;
    background-color:rgb(71, 69, 69);
    position: fixed;

    
}
.block h1{
    display: inline-block;
    margin-right: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(3, 245, 3);
    margin-left: 50px;
}

.block li{
    list-style: none;
    display: inline-block;
    padding: 15px;
}
.block li:hover{
    background-color:rgba(76, 131, 3, 0.658);
}

.block li a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(123, 255, 0, 0.856);
    font-size: 20px;
  
}

.noticia{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 2%;
    
}
.noticia2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 10%;
    padding-left: 2%;
}
.ministro{
    padding-bottom: 10%;
    height: auto;
}
